@import "swiper.min.scss";
@import "base.scss";
@import "class.scss";
@import "loading.scss";
@import "welcome.scss";

.loading {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #ffece9;

  .rider {
    position: absolute;
    top: p2r(232);
    right: p2r(108);
    @include size(154, 121);
    @include bgImg('../images/loading/rider1_.png');
  }
  .progress {
    @include center(-416/2);
    top: p2r(360);
    @include size(416, 20);
    background-color: #fc2e4d;
    border: 2px solid #373838;
    border-radius: 20px;
    overflow: hidden;
    .line {
      height: 100%;
      width: 80%;
      background-color: #ffece9;
    }
  }
  .loading-txt {
    @include center(-220/2);
    top: p2r(420);
    @include size(220, 28);
    @include bgImg('../images/loading/loading-txt.png');
  }
  .logo {
    @include center(-162/2);
    bottom: p2r(118);
    @include size(162, 39);
    @include bgImg('../images/loading/waimai-logo.png');

  }
  .copyright {
    position: absolute;
    bottom: p2r(73);
    font-size: p2r(24);
    color: #ff96a4;
    text-align: center;
    width: 100%;
  }
  &.animate {
    .line {
      animation: loading 1.5s linear forwards;
    }
    .rider {
      animation: moving 1.5s linear forwards;
    }
  }
  @keyframes loading {
    to {
      width: 0%;
    }
  }
  @keyframes moving {
    10% {
      transform: translate(p2r(-26*1), p2r(-10));
    }
    20% {
      transform: translate(p2r(-26*2), p2r(10));
    }
    30% {
      transform: translate(p2r(-26*3), p2r(-10));
    }
    40% {
      transform: translate(p2r(-26*4), p2r(10));
    }
    50% {
      transform: translate(p2r(-26*5), p2r(-10));
    }
    60% {
      transform: translate(p2r(-26*6), p2r(10));
    }
    70% {
      transform: translate(p2r(-26*7), p2r(-10));
    }
    80% {
      transform: translate(p2r(-26*8), p2r(10));
    }
    90% {
      transform: translate(p2r(-26*9), p2r(-10));
    }
    100% {
      transform: translate(p2r(-26*10), p2r(10));
    }
  }
}

.welcome {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: deepskyblue;
  .clouds {
    position: absolute;
    bottom: 0;
    @include size(640, 673);
    @include bgImg('../images/page1/clouds.png');
  }
  .info {
    @include center(-397/2);
    top: p2r(42);
    @include size(397, 224);
    @include bgImg('../images/page1/theme-title.png');
    opacity: 0;
    .hello {
      position: absolute;
      top: p2r(20);
      right: p2r(8);
      opacity: 0;
      @include size(70, 75);
      @include bgImg('../images/page1/hello.png');
    }
  }
  .rider-box {
    @include center(-167/2);
    bottom: p2r(346);
    @include size(167, 279);
    opacity: 0;
    .rider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include bgImg('../images/page1/rider2.png');
    }
    .jet {
      position: absolute;
      bottom: 0;
      opacity: 0;
      @include size(167, 32);
      @include bgImg('../images/page1/jet1.png');
    }
  }
  .grassland {
    position: absolute;
    bottom: 0;
    @include size(640, 20);
    @include bgImg('../images/page1/grass1.png');
    .grass {
      position: absolute;
      bottom: 0;
      @include size(640, 228);
      @include bgImg('../images/page1/grass2.png');
      transform: scale(3, 1);
      opacity: 0;
    }
  }
  .trees {
    @include center(-599/2);
    bottom: p2r(352);
    @include size(599, 71);
    @include bgImg('../images/page1/trees.png');
    opacity: 0;
  }
  .rotate-box-btn {
    @include center(-208/2);
    bottom: p2r(86);
    @include size(208, 208);
    transform: scale(0);
    opacity: 0;
    .circle,
    .rotate-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .circle {
      @include bgImg('../images/page1/circle1.png');
    }
    .rotate-circle {
      @include bgImg('../images/page1/circle2.png');
    }
    .btn {
      width: 100%;
      height: 100%;
      background: url(../images/page1/bear-btn-aft.png) no-repeat center / p2r(124) p2r(113);
    }
  }
  .text {
    position: absolute;
    bottom: p2r(38);
    width: 100%;
    font-size: p2r(32);
    color: #485b00;
    text-align: center;
  }
  &.animate {
    .grassland {
      animation: grassland 0.5s forwards;
      .grass {
        animation: grass 0.5s 0.5s linear forwards;
      }
    }
    .trees {
      animation: trees 0.5s 1s forwards;
    }
    .rotate-box-btn {
      animation: rotate-box-btn 0.5s 1.5s forwards;
      .rotate-circle {
        animation: rotate-circle 1s linear infinite;
      }
    }
    .rider-box {
      animation: rider-box 0.5s 2s forwards;
      .rider {
        animation: rider 0.5s 2.5s linear infinite;
      }
      .jet {
        animation: jet 0.5s 2.5s linear infinite;
      }
      &.rider-moving {
        animation: rider-moving 0.5s linear forwards;
      }
    }
    .info {
      animation: rider-box 0.5s 3s forwards;
      .hello {
        animation: jet 0.5s 3.5s forwards;
      }
    }
    @keyframes rider-moving {
      from {
        opacity: 1;
      }
      to {
        transform: scale(2) translateY(100%);
        opacity: 0;
      }
    }
    @keyframes grassland {
      to {
        @include size(640, 396);
      }
    }
    @keyframes grass {
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
    @keyframes trees {
      0% {
        transform: translateY(-200%);
      }
      80% {
        transform: translateY(10%);
        opacity: 1;
      }
      90% {
        transform: translateY(-10%);
        opacity: 1;
      }
      100% {
        transform: none;
        opacity: 1;
      }
    }
    @keyframes rotate-box-btn {
      to {
        transform: none;
        opacity: 1;
      }
    }
    @keyframes rotate-circle {
      to {
        transform: rotate(360deg)
      }
    }
    @keyframes rider-box {
      from {
        transform: translateY(-50%);
      }
      to {
        transform: none;
        opacity: 1;
      }
    }
    @keyframes rider {
      from {
        transform: translateY(-10%);
      }
      to {
        transform: none;
      }
    }
    @keyframes jet {
      from {
        transform: scale(0, 0);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }
  }
}

.waimai-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .title {
    z-index: 1;
    position: absolute;
    top: p2r(28);
    left: p2r(32);
    padding-left: p2r(20);
    color: #fff;
    h3 {
      opacity: 0;
      font-size: p2r(64);
      margin-top: p2r(12);
    }
    p {
      opacity: 0;
      font-size: p2r(24);
    }
    .line {
      position: absolute;
      top: 0;
      left: 0;
      height: 0%;
      width: p2r(5);
      background-color: #fff;
    }
  }
}

.swiper-slide.animate {
  @keyframes r2l {
    from {
      transform: translateX(100%);
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes heightBigger {
    to {
      height: 100%;
    }
  }
  .title {
    h3 {
      animation: r2l 0.5s forwards;
    }
    p {
      animation: r2l 0.5s 0.2s forwards;
    }
    .line {
      animation: heightBigger 0.5s linear forwards;
    }
  }
  @keyframes rotateInOut {
    0% {
      transform: rotateZ(90deg);
    }
    25% {
      transform: rotateZ(-5deg);
      opacity: 1;
    }
    30% {
      transform: rotateZ(0deg);
      opacity: 1;
    }
    65% {
      transform: rotateZ(0deg);
      opacity: 1;
    }
    70% {
      transform: rotateZ(5deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-90deg);
      opacity: 0;
    }
  }
  @keyframes rotateInNotOut {
    0% {
      transform: rotateZ(90deg);
    }
    95% {
      transform: rotateZ(-5deg);
      opacity: 1;
    }
    100% {
      transform: rotateZ(0deg);
      opacity: 1;
    }
  }
  @keyframes runUpDownLeftRight {
    25% {
      transform: translate(2%, 0%);
    }
    50% {
      transform: translate(-2%, 2%);
    }
    75% {
      transform: translate(0%, -2%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
  @keyframes left2Right2left {
    30% {
      transform: translateX(-30%);
    }
    60% {
      transform: translateX(30%);
    }
    100% {
      transform: none;
    }

  }
  @keyframes rotateBack {
    to {
      transform: none;
    }
  }
  &.page1 {
    .scroll-page1 {
      .bg {
        animation: rotateInOut 2s forwards;
      }
      .person {
        animation: rotateInOut 2s 0.2s forwards;
        .files {
          .paper1 {
            animation: left2Right2left 1s infinite;
          }
          .paper2 {
            animation: left2Right2left 0.5s infinite;
          }
        }
      }
      .message-container {
        animation: rotateInOut 2s 0.5s forwards;
      }
    }
    .scroll-page2 {
      .bg {
        animation: rotateInOut 2s 2.5s forwards;
      }
      .person {
        animation: rotateInOut 2s 2.7s forwards;
        .leg2 {
          animation: rotateBack 1s infinite;
        }
      }
      .message-container {
        animation: rotateInOut 2s 3s forwards;
      }
    }
    .scroll-page3 {
      .bg {
        animation: rotateInNotOut 0.5s 5s forwards;
      }
      .person {
        animation: rotateInNotOut 0.5s 5.2s forwards;
        .word1 {
          animation: runUpDownLeftRight 1s infinite;
        }
        .word2 {
          animation: runUpDownLeftRight 0.5s infinite;
        }
        .word3 {
          animation: runUpDownLeftRight 1.2s infinite;
        }
        .word4 {
          animation: runUpDownLeftRight 1.3s infinite;
        }

      }
      .message-container {
        animation: rotateInNotOut 0.2s 5.5s forwards;
      }
    }
  }
  @keyframes bottom2Top {
    from {
      transform: translateY(100%);
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes small2Big2small {
    0% {
      transform: scale(0);
    }
    95% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes Shake {
    30% {
      transform: rotateZ(5deg);
    }
    60% {
      transform: rotateZ(-5deg);
    }
    100% {
      transform: none;
    }
  }
  &.page2 {
    .bg {
      animation: rotateInNotOut .5s forwards;
    }
    .bear {
      animation: bottom2Top .5s 1s forwards;
      .face1 {
        animation: small2Big2small .5s 2s forwards;
      }
      .face2 {
        animation: small2Big2small .5s 2s forwards;
      }
      .hand-left {
        animation: Shake 0.5s infinite;
      }
      .hand-right {
        animation: Shake 0.8s infinite;
      }
    }
    .table {
      animation: rider-box .5s .5s forwards;
    }
    .foods {
      animation: rider-box .5s 1.5s forwards;
    }
  }
  @keyframes down {
    from {
      opacity: 1;
    }
    to {
      transform: translateY(150%);
      opacity: 0;
    }
  }
  &.page3 {
    .bg {
      animation: rotateInNotOut .5s forwards;
    }
    .bear {
      animation: rider-box .5s .5s forwards;
    }
    .license {
      animation: small2Big2small .5s 1s forwards, runUpDownLeftRight .5s 1.5s infinite;
    }
    .oil {
      animation: small2Big2small .3s 1s forwards, runUpDownLeftRight .5s 1.5s infinite;
    }
    .evil {
      animation: small2Big2small .7s 1s forwards, runUpDownLeftRight .5s 1.5s infinite;
    }
  }
  &.page4 {
    .bg {
      animation: rotateInNotOut .5s forwards;
    }
    .card-box {
      div {
        animation: small2Big2small 1s 1s forwards;
      }
    }
    .bear {
      animation: rider-box .5s .5s forwards;
    }
  }
  @keyframes snowLeft {
    from{}
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
      transform: translate(-200%, 1000%);
    }
  }
  @keyframes snowRight {
    from{}
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
      transform: translate(200%, 1000%);
    }
  }
  &.page5 {
    .bg {
      animation: rotateInNotOut .5s forwards;
    }
    .cloud {
      animation: small2Big2small .5s .5s forwards, runUpDownLeftRight 1s 1s infinite;
      .snow {
        &:nth-child(1) {
          animation: snowLeft 1.5s 1.5s infinite;
        }
        &:nth-child(2) {
          animation: snowRight 1.3s 1.5s infinite;
        }
        &:nth-child(3) {
          animation: snowLeft 2s 1.5s infinite;
        }
        &:nth-child(4) {
          animation: snowRight 3s 1.5s infinite;
        }
        &:nth-child(5) {
          animation: snowLeft 1.1s 1.5s infinite;
        }
        &:nth-child(6) {
          animation: snowRight 1.8s 1.5s infinite;
        }
      }
    }
    .bear {
      animation: rider-box 1s 1s forwards, rider .5s 2s infinite;
      .shadow {
        animation: jet .5s 2s infinite;
      }
    }
  }
  @keyframes revolve {
    from{
      transform: none;
    }
    to{
      opacity: 1;
    }
  }
  @keyframes big2small {
    from{}
    to{
      opacity: 0;
      transform: scale(0);
    }
  }
  &.page6{
    .gift-box{
      @for $i from 1 through 12 {
        > div:nth-child(#{$i}){
          animation: revolve 2s $i*0.1s infinite;
        }
      }
      @for $i from 1 through 12 {
        > div > div:nth-child(#{$i}){
          animation: revolve 1s $i*0.1s infinite;
        }
      }
    }
  }
}

.page1 {
  background-color: #be8651;
  .bg,
  .person {
    transform-origin: 50% 200%;
    opacity: 0;
  }
  .message-container {
    transform-origin: right bottom;
    opacity: 0;
  }
  .scroll-page1 {
    .bg {
      @include center(-576/2);
      bottom: p2r(252);
      @include bgImg('../images/page2/bg1.png');
      @include size(576, 573);
    }
    .person {
      @include center(-439/2);
      bottom: p2r(290);
      @include bgImg('../images/page2/front1.png');
      @include size(439, 349);
      z-index: 1;
      .files {
        @include size(85, 50);
        background-image: url('../images/page2/papers.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: p2r(115) p2r(114);
        position: absolute;
        left: p2r(27);
        bottom: p2r(104);
        .paper1 {
          @include size(86, 26);
          background-image: url('../images/page2/papers.png');
          background-repeat: no-repeat;
          background-position: 0 p2r(-32);
          background-size: p2r(115) p2r(114);
          position: absolute;
          left: p2r(-70);
          bottom: p2r(45);
        }
        .paper2 {
          @include size(64, 20);
          background-image: url('../images/page2/papers.png');
          background-repeat: no-repeat;
          background-position: p2r(-45) 0;
          background-size: p2r(115) p2r(114);
          position: absolute;
          right: 0;
          bottom: p2r(80);
        }
      }
    }
    .message-container {
      position: absolute;
      bottom: p2r(140);
      right: p2r(140);
      z-index: 1;
      @include bgImg('../images/page2/txt-bubbl.png');
      @include size(363, 119);
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        @include bgImg('../images/page2/txt-work.png');
        @include size(220, 30);
      }
    }
  }
  .scroll-page2 {
    .bg {
      @include center(-582/2);
      bottom: p2r(252);
      @include bgImg('../images/page2/bg2.png');
      @include size(582, 520);
    }
    .person {
      @include size(436, 332);
      @include center(-436/2);
      bottom: p2r(270);
      z-index: 1;
      @include bgImg('../images/page2/relax.png');
      .leg1 {
        position: absolute;
        left: p2r(195);
        bottom: p2r(110);
        @include size(113, 24);
        @include bgImg('../images/page2/leg1.png');
      }
      .leg2 {
        transform-origin: left bottom;
        transform: rotateZ(30deg);
        position: absolute;
        left: p2r(193);
        bottom: p2r(120);
        @include size(85, 71);
        @include bgImg('../images/page2/leg2.png');
      }
    }
    .message-container {
      position: absolute;
      bottom: p2r(140);
      right: p2r(140);
      z-index: 1;
      @include bgImg('../images/page2/txt-bubbl.png');
      @include size(363, 119);
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        @include bgImg('../images/page2/txt-life.png');
        @include size(224, 31);
      }
    }
  }
  .scroll-page3 {
    .bg {
      @include center(-561/2);
      bottom: p2r(270);
      @include bgImg('../images/page2/bg3.png');
      @include size(561, 516);
    }
    .person {
      @include size(503, 229);
      @include center(-503/2);
      bottom: p2r(300);
      z-index: 1;
      @include bgImg('../images/page2/person.png');
      .word1 {
        position: absolute;
        left: p2r(7);
        bottom: p2r(194);
        @include bgImg('../images/page2/word1.png');
        @include size(92, 83);
      }
      .word2 {
        position: absolute;
        left: p2r(115);
        bottom: p2r(245);
        @include bgImg('../images/page2/word2.png');
        @include size(77, 70);
      }
      .word3 {
        position: absolute;
        right: p2r(130);
        bottom: p2r(220);
        @include bgImg('../images/page2/word3.png');
        @include size(115, 104);
      }
      .word4 {
        position: absolute;
        right: p2r(12);
        bottom: p2r(230);
        @include bgImg('../images/page2/word4.png');
        @include size(79, 73);
      }
    }
    .message-container {
      position: absolute;
      bottom: p2r(140);
      right: p2r(140);
      z-index: 1;
      @include bgImg('../images/page2/txt-bubbl.png');
      @include size(363, 119);
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        @include bgImg('../images/page2/txt-res.png');
        @include size(220, 30);
      }
    }
  }
  .sphere {
    position: absolute;
    bottom: 0;
    @include bgImg('../images/page2/sphere1.png');
    @include size(640, 356);
  }
  .bear {
    position: absolute;
    bottom: 0;
    right: p2r(38);
    @include bgImg('../images/page2/bear1.png');
    @include size(178, 134);
  }
}

.page2 {
  background-color: #ee4143;
  .bg {
    @include bgImg('../images/page3/bg4_.png');
    @include size(592, 490);
    @include center(-592/2);
    bottom: p2r(330);
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .sphere {
    @include bgImg('../images/page3/sphere2.png');
    @include size(640, 356);
    position: absolute;
    bottom: 0;
  }
  .bear {
    @include center(-227/2);
    bottom: p2r(310);
    @include size(227, 336);
    background-image: url('../images/page3/bear2.png');
    background-repeat: no-repeat;
    background-position: p2r(-103) p2r(-96);
    background-size: p2r(368) p2r(427);
    opacity: 0;
    .face1 {
      position: absolute;
      opacity: 0;
      top: 0;
      left: p2r(-102);
      @include size(102, 102);
      @include bgImg('../images/page3/face1.png');
    }
    .face2 {
      position: absolute;
      opacity: 0;
      top: p2r(-102);
      right: p2r(-51);
      @include size(101, 102);
      @include bgImg('../images/page3/face2.png');
    }
    .hand-left {
      position: absolute;
      top: p2r(180);
      left: p2r(30);
      @include size(74, 77);
      @include bgImg('../images/page3/hand-left_.png');
      transform-origin: left top;
    }
    .hand-right {
      position: absolute;
      top: p2r(180);
      right: p2r(30);
      @include size(74, 77);
      @include bgImg('../images/page3/hand-right.png');
      transform-origin: right top;
    }
  }
  .table {
    @include center(-514/2);
    bottom: p2r(140);
    opacity: 0;
    @include size(514, 258);
    @include bgImg('../images/page3/table.png');
  }
  .foods {
    @include center(-354/2);
    bottom: p2r(330);
    opacity: 0;
    @include size(354, 152);
    @include bgImg('../images/page3/foods.png');
  }
}

.page3 {
  background-color: #dd8a03;
  .bg {
    opacity: 0;
    transform-origin: 50% 200%;
    @include center(-592/2);
    @include size(592, 580);
    @include bgImg('../images/page4/bg5.png');
    position: absolute;
    bottom: p2r(300);
  }
  .sphere {
    @include size(640, 356);
    @include bgImg('../images/page4/sphere3.png');
    position: absolute;
    bottom: p2r(0);
  }
  .normal-card-box {
    div {
      opacity: 0;
    }
    .license {
      @include size(197, 140);
      @include bgImg('../images/page4/license.png');
      position: absolute;
      left: p2r(40);
      bottom: p2r(500);
    }
    .oil {
      @include size(205, 107);
      @include bgImg('../images/page4/oil.png');
      position: absolute;
      left: p2r(225);
      bottom: p2r(660);
    }
    .evil {
      @include size(198, 163);
      @include bgImg('../images/page4/evil.png');
      position: absolute;
      right: p2r(30);
      bottom: p2r(480);
    }
  }
  .animate-card-box {
    div {
      opacity: 0;
    }
    .card1 {
      @include size(228, 151);
      @include bgImg('../images/page4/license1.png');
      position: absolute;
      left: p2r(40);
      bottom: p2r(500);
    }
    .card2 {
      @include size(231, 156);
      @include bgImg('../images/page4/oil1.png');
      position: absolute;
      left: p2r(225);
      bottom: p2r(660);
    }
    .card3 {
      @include size(211, 173);
      @include bgImg('../images/page4/evil1.png');
      position: absolute;
      right: p2r(30);
      bottom: p2r(480);
    }
  }
  .bear {
    opacity: 0;
    @include center(-206/2);
    bottom: p2r(195);
    @include size(206, 321);
    @include bgImg('../images/page4/bear3.png');
  }
  .animate-bear-box {
    div {
      opacity: 0;
      bottom: p2r(195);
    }
    .bear1 {
      @include center(-251/2);
      @include size(251, 335);
      @include bgImg('../images/page4/bear3-1-1.png');
    }
    .bear2 {
      @include center(-215/2);
      @include size(215, 313);
      @include bgImg('../images/page4/bear3-2-1.png');
    }
    .bear3 {
      @include center(-290/2);
      @include size(290, 321);
      @include bgImg('../images/page4/bear3-3-1.png');
    }
  }
}

.page4 {
  background-color: #3fa100;
  .bg {
    @include center(-588/2);
    @include size(588, 333);
    @include bgImg('../images/page5/bg6.png');
    position: absolute;
    bottom: p2r(300);
    transform-origin: 50% 200%;
    opacity: 0;
  }
  .sphere {
    @include size(640, 356);
    @include bgImg('../images/page5/sphere4.png');
    position: absolute;
    bottom: p2r(0);
  }
  .card-box {
    div {
      opacity: 0;
    }
    .card1 {
      @include size(160, 175);
      @include bgImg('../images/page5/card1.png');
      position: absolute;
      left: p2r(32);
      bottom: p2r(435);
    }
    .card2 {
      @include size(161, 209);
      @include bgImg('../images/page5/card2.png');
      position: absolute;
      left: p2r(240);
      bottom: p2r(530);
    }
    .card3 {
      @include size(167, 184);
      @include bgImg('../images/page5/card3.png');
      position: absolute;
      right: p2r(45);
      bottom: p2r(420);
    }
  }

  .bear {
    position: absolute;
    left: p2r(200);
    bottom: p2r(170);
    @include size(309, 325);
    @include bgImg('../images/page5/bear4.png');
    opacity: 0;
  }
}

.page5 {
  background-color: #0098cf;
  .bg {
    @include center(-594/2);
    @include size(594, 493);
    @include bgImg('../images/page6/bg7.png');
    position: absolute;
    bottom: p2r(300);
    opacity: 0;
    transform-origin: 50% 200%;
  }
  .sphere {
    @include size(640, 356);
    @include bgImg('../images/page6/sphere5.png');
    position: absolute;
    bottom: p2r(0);
  }
  .cloud {
    opacity: 0;
    @include size(432, 160);
    @include bgImg('../images/page6/weather-cloud.png');
    @include center(-432/2);
    bottom: p2r(645);
    .snow {
      opacity: 0;
      @include bgImg('../images/page6/snow-piece.png');
      @include size(32, 32);
      position: absolute;
      bottom: 0;
      &:nth-child(2) {
        left: p2r(32*3);
      }
      &:nth-child(3) {
        left: p2r(32*4);
      }
      &:nth-child(4) {
        left: p2r(32*5);
      }
      &:nth-child(5) {
        left: p2r(32*6);
      }
      &:nth-child(6) {
        left: p2r(32*7);
      }
    }
  }
  .bear {
    opacity: 0;
    @include center(-230/2);
    bottom: p2r(175);
    @include size(230, 390);
    @include bgImg('../images/page6/rider2.png');
    .shadow {
      @include center(-114/2);
      bottom: 0;
      @include size(114, 26);
      @include bgImg('../images/page6/shadow.png');
    }
  }
}

.page6 {
  background-color: #b527a0;
  .bg {
    @include center(-588/2);
    @include size(588, 333);
    @include bgImg('../images/page7/bg8.png');
    position: absolute;
    bottom: p2r(300);
  }
  .sphere {
    @include size(640, 356);
    @include bgImg('../images/page7/sphere6.png');
    position: absolute;
    bottom: p2r(0);
  }
  .bear {
    @include center(-285/2);
    bottom: p2r(200);
    @include size(285, 328);
    @include bgImg('../images/page7/bear5.png');
    .gift-box {
      position: absolute;
      top: 0;
      left: 50%;
      > div{
        opacity: 0;
      }
      > div:nth-child(1){
        @include center(-35/2);
        @include size(35, 29);
        transform: rotate(1*28deg) translateY(p2r(240));
      }
      > div:nth-child(2){
        @include center(-93/2);
        @include size(93, 79);
        transform: rotate(2*28deg) translateY(p2r(240));
      }
      > div:nth-child(3){
        @include center(-72/2);
        @include size(72, 64);
        transform: rotate(3*28deg) translateY(p2r(240));
      }
      > div:nth-child(4){
        @include center(-91/2);
        @include size(91, 73);
        transform: rotate(4*28deg) translateY(p2r(240));
      }
      > div:nth-child(5){
        @include center(-99/2);
        @include size(99, 65);
        transform: rotate(5*28deg) translateY(p2r(240));
      }
      > div:nth-child(6){
        @include center(-107/2);
        @include size(107, 82);
        transform: rotate(6*28deg) translateY(p2r(240));
      }
      > div:nth-child(7){
        @include center(-107/2);
        @include size(107, 80);
        transform: rotate(7*28deg) translateY(p2r(240));
      }
      > div:nth-child(8){
        @include center(-88/2);
        @include size(88, 64);
        transform: rotate(8*28deg) translateY(p2r(240));
      }
      > div:nth-child(9){
        @include center(-78/2);
        @include size(78, 50);
        transform: rotate(9*28deg) translateY(p2r(240));
      }
      > div:nth-child(10){
        @include center(-49/2);
        @include size(49, 37);
        transform: rotate(10*28deg) translateY(p2r(240));
      }
      > div:nth-child(11){
        @include center(-51/2);
        @include size(51, 31);
        transform: rotate(11*28deg) translateY(p2r(240));
      }
      > div:nth-child(12){
        @include center(-37/2);
        @include size(37, 23);
        transform: rotate(12*28deg) translateY(p2r(240));
      }
      .gift1 {
        @include size(35, 29);
        @include bgImg('../images/page7/gift1.png');
      }
      .gift2 {
        @include size(93, 79);
        @include bgImg('../images/page7/gift2.png');
      }
      .gift3 {
        @include size(72, 64);
        @include bgImg('../images/page7/gift3.png');
      }
      .gift4 {
        @include size(91, 73);
        @include bgImg('../images/page7/gift4.png');
      }
      .gift5 {
        @include size(99, 65);
        @include bgImg('../images/page7/gift5.png');
      }
      .gift6 {
        @include size(107, 82);
        @include bgImg('../images/page7/gift6.png');
      }
      .gift7 {
        @include size(107, 80);
        @include bgImg('../images/page7/gift7.png');
      }
      .gift8 {
        @include size(88, 64);
        @include bgImg('../images/page7/gift8.png');
      }
      .gift9 {
        @include size(78, 50);
        @include bgImg('../images/page7/gift9.png');
      }
      .gift10 {
        @include size(49, 37);
        @include bgImg('../images/page7/gift10.png');
      }
      .gift11 {
        @include size(51, 31);
        @include bgImg('../images/page7/gift11.png');
      }
      .gift12 {
        @include size(37, 23);
        @include bgImg('../images/page7/gift12.png');
      }
    }
  }
}

.page7 {
  background-color: #19072a;
  .sphere {
    @include size(640, 384);
    @include bgImg('../images/page8/sphere7.png');
    position: absolute;
    bottom: 0;
  }
  .streetlight {
    @include size(80, 443);
    @include bgImg('../images/page8/streetlight.png');
    position: absolute;
    left: p2r(240);
    bottom: p2r(300);
    .lamplight {
      @include size(437, 427);
      @include bgImg('../images/page8/lamplight.png');
      position: absolute;
      left: p2r(-140);
      top: p2r(10);
    }
  }
  .moto {
    @include size(200, 137);
    @include bgImg('../images/page8/moto.png');
    position: absolute;
    left: p2r(115);
    bottom: p2r(330);
  }
  .bear {
    @include size(276, 271);
    @include bgImg('../images/page8/bear6.png');
    position: absolute;
    right: p2r(144);
    bottom: p2r(280);
  }
  .share {
    @include size(379, 113);
    @include bgImg('../images/page8/share.png');
    @include center(-379/2);
    bottom: p2r(140);
  }
  .www {
    position: absolute;
    bottom: p2r(70);
    width: 100%;
    text-align: center;
    font-size: p2r(24);
    color: #b579d6;
  }
}

.audioControl{
  @include bgImg('../images/play.png');
  @include size(36,36);
  position: fixed;
  top: p2r(32);
  right: p2r(32);
  z-index: 998;
  border: none;
  outline: none;
}
