.loading {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #ffece9;
}
.loading .wrapper {
  position: relative;
  width: 13rem;
  height: 7.03125rem;
  margin: 7.28125rem auto;
  text-align: center;
  padding-top: 3.96875rem;
}
.loading .wrapper .rider {
  position: absolute;
  left: 74%;
  top: 0;
  width: 4.8125rem;
  height: 3.78125rem;
}
.loading .wrapper .progress {
  width: 13rem;
  height: 0.625rem;
  background-color: #fc2e4d;
  border: 2px solid #373838;
  border-radius: 20px;
}
.loading .wrapper .loading-txt {
  margin-top: 40px;
  width: 6.875rem;
  height: 0.875rem;
}
.loading .logo {
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  text-align: center;
}
.loading .logo img {
  width: 5.0625rem;
  height: 1.21875rem;
  margin-bottom: 0.75rem;
}
.loading .logo .text {
  color: #ff96a4;
  font-size: 0.75rem;
}
