.loading {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #ffece9;
  .rider {
    position: absolute;
    top: 232/32rem;
    right: 108/32rem;
    width: 154/32rem;
    height: 121/32rem;
    background: url(../images/loading/rider1_.png) no-repeat center / 100% 100%;
  }
  .progress {
    .center;
    top: 360/32rem;
    width: 416/32rem;
    height: 20/32rem;
    background-color: #fc2e4d;
    border: 2px solid #373838;
    border-radius: 20px;
  }
  .loading-txt {
    .center;
    top: 400/32rem;
    width: 220/32rem;
    height: 28/32rem;
    background: url(../images/loading/loading-txt.png) no-repeat center / 100% 100%;
  }
  .logo {
    .center;
    bottom: 118/32rem;
    width: 162/32rem;
    height: 39/32rem;
    background: url(../images/loading/waimai-logo.png) no-repeat center / 100% 100%;

  }
  .copyright {
    position: absolute;
    bottom: 73/32rem;
    font-size: 24/32rem;
    color: #ff96a4;
    text-align: center;
    width: 100%;
  }
}

