.welcome {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: deepskyblue;
  .clouds {
    position: absolute;
    bottom: 0;
    @include size(640, 673);
    @include bgImg('../images/page1/clouds.png');
  }
  .info {
    @include center(-397/2);
    top: p2r(42);
    @include size(397, 224);
    @include bgImg('../images/page1/theme-title.png');
    .hello {
      position: absolute;
      top: p2r(20);
      right: p2r(8);
      @include size(70, 75);
      @include bgImg('../images/page1/hello.png');
    }
  }
  .rider-box {
    @include center(-167/2);
    bottom: p2r(346);
    @include size(167, 279);
    .rider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include bgImg('../images/page1/rider2.png');
    }
    .jet {
      position: absolute;
      bottom: 0;
      @include size(167, 32);
      @include bgImg('../images/page1/jet1.png');
    }
  }
  .grassland {
    position: absolute;
    bottom: 0;
    @include size(640, 396);
    @include bgImg('../images/page1/grass1.png');
    .grass {
      position: absolute;
      bottom: 0;
      @include size(640, 228);
      @include bgImg('../images/page1/grass2.png');
    }
  }
  .trees {
    @include center(-599/2);
    bottom: p2r(352);
    @include size(599, 71);
    @include bgImg('../images/page1/trees.png');
  }
  .rotate-box-btn {
    @include center(-208/2);
    bottom: p2r(86);
    @include size(208, 208);
    .circle,
    .rotate-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .circle {
      @include bgImg('../images/page1/circle1.png');
    }
    .rotate-circle {
      @include bgImg('../images/page1/circle2.png');
    }
    .btn {
      width: 100%;
      height: 100%;
      background: url(../images/page1/bear-btn-aft.png) no-repeat center / p2r(124) p2r(113);
    }
  }
  .text {
    position: absolute;
    bottom: p2r(38);
    width: 100%;
    font-size: p2r(32);
    color: #485b00;
    text-align: center;
  }
}